
    <nav class="navbar navbar-expand-lg">
      <a><img src="https://img.freepik.com/premium-photo/modern-family-hybrid-car-red-white-surface-with-shadow-ground_101266-3361.jpg?size=626&ext=jpg&ga=GA1.2.79028399.1663747707" class = "nav-image"/></a> 
        <a class="navbar-brand" id="nav-car">Royal Motors</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> 
          <marquee direction="right" behavior="slide alternate" style="color :yellow;font-size:25px; font-weight: 500;" scrollamount="10" >  
            Well Come Back !!
            </marquee> 
          <div class="navbar-nav ml-auto">
            <a class="nav-link active" routerLink = '/login' id="nav-login">Login</a>
            <a class="nav-link active" routerLink = '/signup' id="nav-sing">Signup</a>
          </div>
        </div>
      </nav> 
      <div class = "home-back">
    </div>