
<div class="nav-back">

    <nav class="navbar navbar-expand-lg">

        <a><img routerLink = "/home" src="https://img.freepik.com/premium-photo/modern-family-hybrid-car-red-white-surface-with-shadow-ground_101266-3361.jpg?size=626&ext=jpg&ga=GA1.2.79028399.1663747707" class = "nav-image"/></a> 
        
        <a class="navbar-brand" routerLink = "/home" id="nav-car">Admin</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         
            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> 

         

          <div class="navbar-nav ml-auto">

            <a class="nav-link active" routerLink = '/loginadmin' id="nav-home">Login</a>

            <a class="nav-link active" routerLink = '/singupadmin' id="nav-logout">SingUp</a>
          </div>

        </div>

      </nav>  

    </div>  

    <div class="admin-back">
        
    </div>


