.error{
    background-image:url('https://img.freepik.com/free-vector/page-found-with-people-connecting-plug-concept-illustration_114360-1939.jpg?w=740&t=st=1664441435~exp=1664442035~hmac=e8cce3f5b8daa0132ee6deb2476e06ce81881f1f1c85def2da1948bd9d3972f2'); 
    height:98vh; 
    background-size : cover;
}