<div class="container pt-5">
    <h1>User Login Form</h1> 
    <form (ngSubmit)="login()" [formGroup]="loginUserForm"> 
        <div>
            <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName = "email">
            </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password" formControlName = "password">
          </mat-form-field>
        </div> 
        <button mat-raised-button color="primary" type="submit">Login</button>
        <a routerLink = '/home'><button mat-raised-button color="warn" class="ml-3">Back</button></a> 
        <p>Don't have an account please <a routerLink = '/signup'>SingUp</a></p>
    </form>
</div>