<div class="container" style="padding:5rem" >  
    <mat-card class="card-container"> 
        <mat-card-title class="title">User SignUp From</mat-card-title> 
        <form class="example-form" [formGroup] = "UserRegistrationForm" (ngSubmit)="onSubmit(confirmPassword.value)">
        <div class="row">
            <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="outline" style="width : 60%">
                      <mat-label>Username</mat-label>
                      <input matInput placeholder="Username" formControlName = "username">
                    </mat-form-field>
                </div>
            <div class="col-12">
                <mat-form-field class="example-full-width" appearance="outline" style="width : 60%">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" formControlName = "email">
                </mat-form-field> 
            </div> 
            <div class="col-12">
                <mat-form-field appearance="outline" style="width : 60%">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName = "gender">
                      <mat-option *ngFor="let gender of genderValues" [value]="gender.value">
                        {{gender.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div> 
            <div class ="col-12">
                <mat-form-field class="example-full-width" appearance="outline" style="width : 60%">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" formControlName = "password">
                  </mat-form-field>
            </div>
            <div class ="col-12">
                <mat-form-field class="example-full-width" appearance="outline" style="width : 60%">
                    <mat-label>Confirm Password</mat-label>
                    <input #confirmPassword matInput placeholder="Confirm Password" type="text">
                  </mat-form-field>
            </div>   
            <p class="error-message">{{error}}</p>
            <div class="col-12" style="text-align: center;">
                <button mat-raised-button color="primary" type ="submit" style="margin-right:10px;">Submit</button> 
               <a routerLink = '/home'><button mat-raised-button color="warn">Back</button></a> 
            </div>
        </div>
    </form>
    </mat-card>
</div>
